.form{
  padding: 1rem 0 2rem ;
}

.form__block {
  margin: 0.4rem 0 0.6rem;
  flex: auto;
}

.form__block--inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__blocks--inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form__block:not(:last-child){
      margin-right: 0.6rem;
    }
  }


@media only screen and (max-width: 768px) {
  .form__block {
    width: 100%;
  }
  .form__blocks--inline .form__block:not(:last-child){
    margin-right: 0;

  }
}