$black: #111;
$grey: #444;
$border-input:#999;
$white:#fefefe;

$alert-danger-text:#9f3a38;
$alert-danger-bg:#fff6f6;
$alert-danger-border:#e0b4b4;

$alert-success-text:#499f38;
$alert-success-bg:#f6fff6;
$alert-success-border:#b4e0b4;

$primay:#357433;
$primay-ligth:#58be69;
